html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}
body {
	line-height:1
}
ol,ul {
	list-style:none
}
table {
	border-spacing:0
}
html,body {
	background-color:#333;
	margin:0;
	padding:0
}
body,td,li,a,h1,h2,h3 {
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:11px;
	color:#fff;
	text-decoration:none
}
h1 {
	font-size:21px
}
h2 {
	font-size:16px
}
h3 {
	font-size:13px
}
table th.title {
	text-align:left;
	font-size:16px
}
table td {
	white-space:nowrap;
	vertical-align:middle
}
table td .highlight {
	font-weight:bold
}
table td span.change {
	display:block;
	width:14px;
	height:16px;
	background:transparent url(../img/arrow.png) no-repeat 0 0
}
table td span.change.stay {
	background-position:center -109px
}
table td span.change.up {
	background-position:center 3px
}
table td span.change.down {
	background-position:center -220px
}
table th.red,table th.yellow,table th.yellowred {
	background-image:url(../img/cards.png) !important;
	background-position:50% 3px !important;
	background-repeat:no-repeat !important;
	text-indent:-9999em
}
table th.yellow {
	background-position:50% -111px !important
}
table th.yellowred {
	background-position:50% -226px !important
}
table td,table th {
	text-align:center;
	padding-left:5px;
	padding-right:5px
}
table td.ftx,table td.ht,table th.ftx,table th.ht {
	width:5%
}
table td.date,table td.datetime,table th.date,table th.datetime {
	text-align:left;
	width:5%
}
table td.event,table th.event {
	text-align:left
}
table td.time,table th.time {
	text-align:left
}
table td.fastest_lap_time,table th.fastest_lap_time {
	text-align:left
}
table td.laps,table th.laps {
	text-transform:capitalize
}
table td.stadium,table th.stadium {
	text-align:left
}
table td.competitor,table th.competitor {
	text-align:left;
	width:40%
}
table td.position,table td.rank,table th.position,table th.rank {
	text-align:right;
	width:5%
}
table td.points,table th.points {
	text-align:right
}
table td.goalsfor,table th.goalsfor {
	text-align:right
}
table td.separator,table th.separator {
	text-align:center
}
table td.goalsagainst,table th.goalsagainst {
	text-align:left
}
table td.team,table th.team {
	text-align:left;
	width:40%;
	white-space:normal
}
table td.teams,table th.teams {
	text-align:left
}
table td.match,table th.match {
	text-align:left
}
table td.promotioncol,table th.promotioncol {
	text-align:left;
	padding-left:4px
}
table td.player,table th.player {
	text-align:left
}
table td.name,table th.name {
	text-align:left
}
table td.nr,table th.nr {
	text-align:right
}
table td.vs,table th.vs {
	text-align:left
}
table td.teamname,table th.teamname {
	text-align:left
}
table td.nextopponent,table th.nextopponent {
	text-align:left
}
table td.tournament,table th.tournament {
	text-align:left
}
table td.matchwithlink,table th.matchwithlink {
	text-align:left
}
table td.winner,table th.winner {
	text-align:left
}
table td.runner_up,table th.runner_up {
	text-align:left
}
table td.player_country,table th.player_country {
	text-align:left
}
table td.player_name,table th.player_name {
	text-align:left
}
table td.mostclicked,table th.mostclicked {
	text-align:left
}
table.normaltable {
	clear:both;
	z-index:1;
	margin:0
}
table.normaltable {
	background:#2e2e2e;
	border-collapse:separate;
	border-spacing:0px 0px;
	border-color:#000;
	empty-cells:show;
	font-size:11px;
	color:#fff;
	border-width:1px 0;
	border-color:#000;
	border-style:solid
}
table.normaltable tr {
	height:19px;
	vertical-align:top
}
table.normaltable tr.clickablerow {
	cursor:pointer
}
table.normaltable tr td {
	background:transparent
}
table.normaltable tr td.sub_header {
	font-weight:bold;
	color:#fff
}
table.normaltable tr td a:link {
	cursor:pointer
}
table.normaltable tr td.match span.teams {
	cursor:pointer
}
table.normaltable tr td.match span.teams.virtualteams {
	cursor:default
}
table.normaltable tr.even td {
	background-color:#292929
}
table.normaltable tr.odd td {
	background-color:transparent
}
table.normaltable tr:hover td {
	background-color:#666;
	color:#fff
}
table.normaltable tr.title td {
	background:#000;
	font-size:12px;
	font-weight:bold;
	padding:4px;
	text-align:center;
	border:none
}
table.normaltable tr.scrollbutton {
	background:transparent;
	height:15px;
	position:relative;
	text-align:center
}
table.normaltable tr.scrollbutton.up td {
	border-bottom:1px 0 solid #000
}
table.normaltable tr.scrollbutton.down td {
	border-top:1px 0 solid #000
}
table.normaltable tr.scrollbutton td {
	background:transparent
}
table.normaltable tr.scrollbutton span {
	display:block;
	height:15px;
	width:16px;
	margin:auto;
	padding:0;
	position:relative;
	text-align:center
}
table.normaltable tr.scrollbutton span.arrowup {
	background:transparent url(../img/arrow_up.png) no-repeat center center
}
table.normaltable tr.scrollbutton span.arrowdown {
	background:transparent url(../img/arrow_down.png) no-repeat center center
}
table.normaltable tr.scrollbutton span.hide {
	display:none
}
table.normaltable thead tr th,table.normaltable thead tr td,table.normaltable thead tr:hover th,table.normaltable thead tr:hover td {
	background-color:#2e2e2e;
	color:#fff;
	padding:4px;
	border-bottom:#000;
	padding-top:4px;
	padding-bottom:4px;
	vertical-align:middle;
	font-weight:bold
}
table.normaltable thead tr th.header,table.normaltable thead tr th.header0,table.normaltable thead tr th.header1,table.normaltable thead tr td.header,table.normaltable thead tr td.header0,table.normaltable thead tr td.header1,table.normaltable thead tr:hover th.header,table.normaltable thead tr:hover th.header0,table.normaltable thead tr:hover th.header1,table.normaltable thead tr:hover td.header,table.normaltable thead tr:hover td.header0,table.normaltable thead tr:hover td.header1 {
	background:$bet365_red url(../img/sortarrow.png) center left no-repeat;
	padding-left:8px
}
table.normaltable thead tr th.headerSortDown,table.normaltable thead tr td.headerSortDown,table.normaltable thead tr:hover th.headerSortDown,table.normaltable thead tr:hover td.headerSortDown {
	background:$bet365_red url(../img/sortarrowdown.png) center left no-repeat;
	padding-left:8px;
	color:#fff
}
table.normaltable thead tr th.headerSortUp,table.normaltable thead tr td.headerSortUp,table.normaltable thead tr:hover th.headerSortUp,table.normaltable thead tr:hover td.headerSortUp {
	background:$bet365_red rl(../img/sortarrowup.png) center left no-repeat;
	padding-left:8px;
	color:#fff
}
table.normaltable thead td {
	padding:2px 4px
}
table.normaltable thead td.position {
	padding-right:0.5em;
	width:2em
}
table.normaltable thead td.change {
	padding:2px 0
}
table.normaltable thead td.change span {
	background:transparent url(../img/arrow.png) 0 0 no-repeat;
	display:block;
	height:14px;
	width:10px
}
table.normaltable thead td.change span.stay {
	background-position:center -110px
}
table.normaltable thead td.change span.down {
	background-position:center -222px
}
table.normaltable thead td.change span.up {
	background-position:center 2px
}
table.normaltable thead td.change span.in {
	background-position:center -335px
}
table.normaltable thead td.change span.out {
	background-position:center -447px
}
table.normaltable thead td.headtohead a {
	background:transparent url(../img/h2h_button.png) no-repeat center center;
	padding:0px;
	height:16px;
	width:32px;
	display:block
}
table.normaltable thead a {
	color:#fff;
	text-decoration:none
}
table.normaltable thead.focus td {
	font-weight:bold
}
table {
	margin-bottom:10px
}
table.normaltable {
	border:none;
	color:#fff
}
table.normaltable thead tr.scrollbutton.up td,table.normaltable tfoot tr.scrollbutton.up td {
	background:#333
}
table.normaltable thead tr.scrollbutton.down td,table.normaltable tfoot tr.scrollbutton.down td {
	background:#333;
	border-top:1px solid #333;
	padding-top:5px
}
table.normaltable thead tr,table.normaltable thead tr:hover {
	height:19px
}
table.normaltable thead tr th,table.normaltable thead tr td,table.normaltable thead tr:hover th,table.normaltable thead tr:hover td {
	color:#fff;
	background:#000
}
table.normaltable thead tr th.title,table.normaltable thead tr td.title,table.normaltable thead tr:hover th.title,table.normaltable thead tr:hover td.title {
	color:#fff
}
table.normaltable thead tr th.headerSortDown,table.normaltable thead tr th.headerSortUp,table.normaltable thead tr td.headerSortDown,table.normaltable thead tr td.headerSortUp,table.normaltable thead tr:hover th.headerSortDown,table.normaltable thead tr:hover th.headerSortUp,table.normaltable thead tr:hover td.headerSortDown,table.normaltable thead tr:hover td.headerSortUp {
	background-color:#a51e22;
	color:#000
}
table.normaltable thead tr.scrollbutton,table.normaltable thead tr:hover.scrollbutton {
	background:#3d3d3d
}
table.normaltable tbody tr {
	height:19px
}
table.normaltable tbody tr td {
	color:#b3b3b3;
	vertical-align:middle
}
table.normaltable tbody tr td a {
	color:#b3b3b3
}
table.normaltable tbody tr td.change span.up {
	background-position:center 3px
}
table.normaltable tbody tr td.change span.down {
	background-position:center -220px
}
table.normaltable tbody tr td.title {
	color:#ffd52f
}
table.normaltable tbody tr td.highlight {
	color:#ffdf1b
}
table.normaltable tbody tr td span.winner {
	color:#fff;
	font-weight:bold
}
table.normaltable tbody tr td span.hightlight {
	color:#ce2027;
	font-weight:bold
}
table.normaltable tbody tr td span.icon_sport {
	margin-top:1px;
	width:19px;
	height:19px
}
table.normaltable tr.header0 {
	background:#000
}
