.last-10-games {
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.last-10-games li {
    color: #fff;
    display: block;
    float: left;
    font-size: 1em;
    height: 16px;
    line-height: 1.4;
    margin-right: 2px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    width: 22px;
}

.last-10-games span {
    display: block;
    direction: rtl;
    text-indent: -9999px;
    height: 8px;
    width: 22px;
    top: 6px;
}

.last-10-games li.W span {
    background-color: #2c7e00;
}

.last-10-games li.D span {
    background-color: #919191;
}

.last-10-games li.L span {
    background-color: #a8160c;
}
