{% load static %}

<!DOCTYPE html>
<html land="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'football/w3.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'football/style.css' %}" />
        <title>{% block title %}Football Analysis{% endblock %}</title>
    </head>

    <body>
        <header></header>
        <nav class="w3-layout-container ">
            {% include "football/navigation.html" %}
        </nav>
        <div class="w3-layout-container">
            <section class="w3-container w3-layout-cell">
                {% block content %}
                {% endblock %}
            </section>
            <aside class="w3-container w3-layout-cell">
                {% block aside %}
                {% endblock %}
            </aside>
            <footer></footer>
        </div>
    </body>
</html>
