{% extends "football/base.html" %}

{% block title %}Football Analysis - Fixtures - Match{% endblock %}

{% block content %}

<div class="w3-layout-container">
    <div class="w3-layout-row">
        <div class="w3-container w3-layout-cell w3-center">
            <h2>{{ home_team.name }} ({{ home_team_position }})</h2>
        </div>
        <div class="w3-container w3-layout-cell w3-center">
            <h2>vs</h2>
        </div>
        <div class="w3-container w3-layout-cell w3-center">
            <h2>{{ away_team.name }} ({{ away_team_position }})</h2>
        </div>
    </div>
    <div class="w3-layout-row">
        <div class="w3-container w3-layout-cell w3-center">
            <ol class="last-10-games">
            {% for r in home_entry.record %}
                <li class={{r}}>
                    <span>{{ r }}</span>
                </li>
            {% endfor %}
            </ol>
        </div>
        <div class="w3-container w3-layout-cell w3-center">
        </div>
        <div class="w3-container w3-layout-cell w3-center">
            <ol class="last-10-games">
            {% for r in away_entry.record %}
                <li class={{r}}>
                    <span>{{ r }}</span>
                </li>
            {% endfor %}
            </ol>
        </div>
    </div>
    <div class="w3-layout-row">
        <div class="w3-container w3-layout-cell w3-center">
            <h3>{{ home_goals|floatformat:"0" }}</h3>
        </div>
        <div class="w3-container w3-layout-cell w3-center">
            <h3> - Predicted Score - </h3>
        </div>
        <div class="w3-container w3-layout-cell w3-center">
            <h3>{{ home_goals|floatformat:"0" }}</h3>
        </div>
    </div>
</div>

<div class="w3-layout-container">
    <div class="w3-container w3-layout-cell">
        <table class="w3-table w3-bordered w3-small">
            <thead>
                <tr class="w3-grey">
                    <th></th>
                    <th>1</th>
                    <th>X</th>
                    <th>2</th>
                <tr>
            </thead>
                <td>Probability:</td>
                <td>{{ home_win_probability }}%</td>
                <td>{{ draw_probability }}%</td>
                <td>{{ away_win_probability }}%</td>
            </tr>
            <tr>
                <td>Odds:</td>
                <td>{{ odds.home }}</td>
                <td>{{ odds.draw }}</td>
                <td>{{ odds.away }}</td>
            </tr>
            <tr>
                <td>Expected Value:</td>
                {% for v in value %}
                    <td>{{ v|floatformat:"2" }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div class="w3-container w3-layout-cell">
        <table class="w3-table w3-bordered w3-small">
            <thead>
                <tr class="w3-grey">
                    <th></th>
                    <th>Over 2.5</th>
                    <th>Under 2.5</th>
                </tr>
            </thead>
            <tr>
                <td>Probability:</td>
                <td>{{ over|floatformat:"1" }}%</td>
                <td>{{ under|floatformat:"1" }}%</td>
            </tr>
            <tr>
                <td>Odds:</td>
                <td>{{ odds.over }}</td>
                <td>{{ odds.under }}</td>
            </tr>
            <tr>
                <td>Expected Value:</td>
                {% for v in uo_value %}
                    <td>{{ v|floatformat:"2" }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
</div>

<div class="w3-layout-container">
    <div class="w3-container w3-padding-16">
        <table class="w3-table w3-bordered w3-small" style="width: 60%; margin: 0 auto">
            <thead>
            <tr class="w3-grey">
                <th>Goals</th>
                <th class="w3-center">0</th>
                <th class="w3-center">1</th>
                <th class="w3-center">2</th>
                <th class="w3-center">3</th>
                <th class="w3-center">4</th>
                <th class="w3-center">5</th>
            </tr>
            </thead>
            <tr>
                <td>{{ home_team.name }}</td>
                {% for p in home_team_probabilities %}
                <td class="w3-center">{{ p }}%</td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ away_team.name }}</td>
                {% for p in away_team_probabilities %}
                <td class="w3-center">{{ p }}%</td>
                {% endfor %}
            </tr>
        </table>
    </div>
</div>


<div class="w3-layout-container">
    <div class="w3-container w3-padding-16">
        <table class="w3-table w3-bordered w3-hoverable w3-tiny">
            <thead>
                <tr>
                    <th class="w3-center w3-dark-grey" colspan="10">Last 5 matches</th>
                </tr>
                <tr class="w3-grey">
                    <th>Date</th>
                    <th>Home Team</th>
                    <th>HG</th>
                    <th>AW</th>
                    <th>Away Team</th>
                    <th>Date</th>
                    <th>Home Team</th>
                    <th>HG</th>
                    <th>AG</th>
                    <th>Away Team</th>
                </tr>
            </thead>
            {% for h, a in last_5_matches_ha %}
            <tr class="w3-hover-green">
                <td>{{ h.date|date:"D d M Y" }}</td>
                <td>{{ h.home_team.name }}</td>
                <td>{{ h.fthg }}</td>
                <td>{{ h.ftag }}</td>
                <td>{{ h.away_team.name }}</td>
                <td>{{ a.date|date:"D d M Y" }}</td>
                <td>{{ a.home_team.name }}</td>
                <td>{{ a.fthg }}</td>
                <td>{{ a.ftag }}</td>
                <td>{{ a.away_team.name }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="w3-layout-container">
    <div class="w3-container w3-padding-16">
        <table class="w3-table w3-bordered w3-tiny">
            <thead>
                <tr>
                    <th class="w3-center w3-dark-grey" colspan="10">Last 5 home/away matches</th>
                </tr>
                <tr class="w3-grey">
                    <th>Date</th>
                    <th>Home Team</th>
                    <th>HG</th>
                    <th>AW</th>
                    <th>Away Team</th>
                    <th>Date</th>
                    <th>Home Team</th>
                    <th>HG</th>
                    <th>AG</th>
                    <th>Away Team</th>
                </tr>
            </thead>
            {% for h, a in last_5_matches %}
            <tr class="w3-hover-pale-red">
                <td>{{ h.date|date:"D d M Y" }}</td>
                <td>{{ h.home_team.name }}</td>
                <td>{{ h.fthg }}</td>
                <td>{{ h.ftag }}</td>
                <td>{{ h.away_team.name }}</td>
                <td>{{ a.date|date:"D d M Y" }}</td>
                <td>{{ a.home_team.name }}</td>
                <td>{{ a.fthg }}</td>
                <td>{{ a.ftag }}</td>
                <td>{{ a.away_team.name }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block aside %}
    {% include "football/mini_league_table.html" %}
{% endblock %}
