{% extends "football/base.html" %}

{% block title %}Football Analysis - Tables{% endblock %}

{% block content %}


<div class="w3-container">
    <div class="w3-dropdown-hover w3-padding-16">
        <button class="w3-btn">Select League</button>
        <div class="w3-dropdown-content w3-border">
            {% for league in leagues %}
            <a href="{% url 'football:tables' league.division.id %}">{{ league.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="w3-container w3-layout-cell">
<table class="w3-table-all">
    <thead>
        <tr  class="w3-dark-grey">
            <th colspan="11">
                {{ name }} Table
            </th>
        <tr class="w3-grey">
            <th>Pos</th>
            <th>Team</th>
            <th>P</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>F</th>
            <th>A</th>
            <th>GD</th>
            <th>Pts</th>
            <th>Last 10 games</th>
        </tr>
    </thead>
    {% for entry in league_table %}
    <tr class="w3-hover-pale-red">
        <td>{{ forloop.counter }}</td>
        <td>{{ entry.team.name }}</td>
        <td>{{ entry.played }}</td>
        <td>{{ entry.won }}</td>
        <td>{{ entry.drawn }}</td>
        <td>{{ entry.lost }}</td>
        <td>{{ entry.goals_for }}</td>
        <td>{{ entry.goals_against }}</td>
        <td>{{ entry.goal_diff }}</td>
        <td>{{ entry.points }}</td>
        <td>
            <ol class="last-10-games">
            {% for r in entry.record %}
                <li class={{ r }}>
                    <span>{{ r }}</span>
                </li>
            {% endfor %}
            </ol>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
